# Large datasets
*.csv
*.zip

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env

# ML models & cache
*.pt
*.pth
*.bin
*.safetensors
artifacts/cache/*.pt

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.vite/
frontend/.vite/
